.mg-5 {
    margin: 5px;
}

.mg-10 {
    margin: 10px;
}

.mg-15 {
    margin: 15px;
}

.mg-20 {
    margin: 20px;
}

.mg-25 {
    margin: 25px;
}

.mg-30 {
    margin: 30px;
}

.mg-35 {
    margin: 35px;
}

.mg-40 {
    margin: 40px;
}

.mg-a {
    margin: 0 auto;
}

.mg-lr-0 {
    margin-left: 0;
    margin-right: 0;
}